@import url( 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Fira+Mono:wght@500&family=Fredoka:wght@500&family=Inconsolata:wght@500&family=Inter:wght@300&family=Lato:wght@300&family=Lora:ital,wght@0,400;1,600&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Roboto+Mono:ital,wght@0,500;1,300&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,500;1,300&family=Sora&family=Ubuntu&display=swap');

body {
    font-family: 'Fira Code', monospace;
    font-family: 'Fira Mono', monospace;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Sora', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
